
// ====================================================

// BASE

// ====================================================

* 
  margin: 0
  font-family: $font-text
  box-sizing: border-box

html 
  height: 100%
  font-size: 12px
  overflow-y: scroll

body
  margin: 6rem 3rem 6rem 3rem
  overflow: hidden

header, section, footer
  padding-left: ($width-timeline/2)
  margin-left: ($width-timeline/2)
  position: relative

section *
  margin-left: ($width-timeline-line*-1)

// ====================================================