
// ====================================================

// BASE

// ====================================================

alignleft()
  @media screen and (min-width: $break-large)
    section &
      margin-left: ($width-timeline-line*-1)

// ====================================================

*
  margin: 0
  font-family: $font-text
  box-sizing: border-box

html
  height: 100%
  font-size: 12px
  color: $color-font
  overflow-y: scroll

body
  margin: 6rem 2rem
  overflow: visible
  @media screen and (min-width: $break-small)
    max-width: $break-small
    margin: 6rem auto
  @media screen and (min-width: $break-large)
    max-width: $break-large
    margin: 10rem auto 6rem auto

header, section, footer
  position: relative
  padding: 0
  @media screen and (min-width: $break-large)
    padding-left: ($width-timeline*2/3)
    margin-left: ($width-timeline/2)

footer
  padding-bottom: $width-date

.skills
  alignleft()
  padding-top: (1/3)rem
  color: $color-title
  word-wrap: break-word

// ====================================================
