
// ====================================================

// TEXT

// ====================================================

h1, h2, h3
  font-family: $font-header
h1
  font-size: 3rem
  line-height: 6rem
  @media screen and (min-width: $break-small)
    padding: $width-date 0 0 0

h2
  font-size: 1.6rem
  line-height: 3rem
  margin: 4rem 0 0 0
  padding: $width-date 0 0 0
  .title &
    margin: 1rem 0 0 0
  @media screen and (min-width: $break-large)
    margin: 4rem 0 0 0
    .title &
      margin: 0

h3
  alignleft()
  font-size: 1.2rem
  line-height: 2.8rem
  padding: 0.8rem 0 0 0

p
  alignleft()

a, a:visited
  text-decoration: none
  color: $color-font
  &:hover
    text-decoration: underline

.skills a, .skills a:visited
  color: $color-title

// ====================================================
