
// ====================================================

// TEXT

// ====================================================


h1, h2, h3
  font-family: $font-header
h1
  font-size: 3rem
  line-height: 20rem
  margin: 0 0 0 6rem
h2 
  font-size: 1.6rem
  line-height: 3rem
  margin: 4rem 0 0 0
h3 
  font-size: 1.2rem
  line-height: 2.8rem
  padding: 0.8rem 0 0 0

.skills 
  padding-top: (1/3)rem
  color: $color-title

// ====================================================