
// ====================================================

// SIDEBAR

// ====================================================

// lines

.line
  display: none
  height: 100%
  position: absolute
  left: 0
  border-left: $width-timeline-line solid
  @media screen and (min-width: $break-large)
    display: block

line-above($color)
  top: 0
  border-color: $color

line-below($color)
  height: 100%
  border-color: $color

// dates

.date
  display: none
  position: absolute
  margin: auto
  right: auto
  font-size: $width-date
  &:before
    content: "20"
    .home &
      content: ""
  @media screen and (min-width: $break-large)
    font-size: $width-date*(3/4)
    display: block
    width: $width-timeline-line
    text-align: center
    left: 0
    &:before
      content: ""

// sections

area($color)
  .line
    border-color: $color-date
  .date
    z-index: 10
    color: $color
  header&
    .date
      top: $width-date * -1
      display: block
  @media screen and (min-width: $break-large)
    .line
      border-color: $color
    .date
      color: $color-date
    header&
      .date
        top: 50%
    section&
      border-left: $width-timeline-line solid $color

.title
  area($color-title)

.saab
  area($color-saab)

.chp
  area($color-chp)

.quinyx
  area($color-quinyx)

.home
  area($color-home)

// ====================================================
