
// ====================================================

// VARS

// ====================================================

// colors

$color-font = #000
$color-date = #FFF

$color-title = #FC6042
$color-saab = #FCB941
$color-chp = #EEE657
$color-quinyx = #2CC990
$color-home = #2C82C9

//===================================================

// timeline

$width-timeline = 20%
$width-timeline-line = 3rem

$width-date = 2rem

//===================================================

// typography

@font-face {
    font-family: 'liberation_sansregular';
    src: url('LiberationSans-Regular-webfont.eot');
    src: url('LiberationSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('LiberationSans-Regular-webfont.woff') format('woff'),
         url('LiberationSans-Regular-webfont.ttf') format('truetype'),
         url('LiberationSans-Regular-webfont.svg#liberation_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'liberation_serifregular';
    src: url('LiberationSerif-Regular-webfont.eot');
    src: url('LiberationSerif-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('LiberationSerif-Regular-webfont.woff') format('woff'),
         url('LiberationSerif-Regular-webfont.ttf') format('truetype'),
         url('LiberationSerif-Regular-webfont.svg#liberation_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

$font-header = "liberation_sansregular", "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif
$font-text = "liberation_sansregular", "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif

//===================================================

// media queries

$break-large = 54rem
$break-small = 36rem

// ====================================================
