doctype html
html(lang='en')

  head
    title= 'Fred Wright'
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='stylesheet', href='/css/main.css')

  body
    
    header.title
      .circle
      .date 1990
      h1 Fred Wright

    header.uni
      .circle
      .date 08
      .line
      h2 Bristol University, 2:1 Bsc Mathematics and Philosophy (Joint Honours)

    section.uni
      h3 Specialisation in Quantum Mechanics and Set Theory

    footer.uni
      .circle
      .date 11
      .line
      .skills
        a(href='http://en.wikipedia.org/wiki/Mathematical_analysis') Mathematical analysis
        | , 
        a(href='http://en.wikipedia.org/wiki/Logic') Logic

    header.saab
      .circle 
      .date 11
      .line
      h2 SAAB AB, Capability Development Analyst

    section.saab
      h3 Data analyst - responsible for prototyping new products
      p Analysis of big data
      p Presention of both live and prepared analysis to clients
      p Data collection and collection strategy
      p Functional design of a mobile data analysis platform

    footer.saab
      .circle
      .date 12
      .line
      .skills
        a(href='http://en.wikipedia.org/wiki/SQL') SQL
        | , 
        a(href='http://www.tableausoftware.com/products/desktop') Tableau

    header.chp
      .circle 
      .date 12
      .line
      h2 CHP Consulting, Technology Consultant

    section.chp
      h3 Support contact and DBA (on-site)
      p Organisation and collaboration with the client to perform simultaneous releases in the UK, Scandinavia and India
      p Enhancement of the DBA process and tooling
      p Management and execution of support requests
      .skills
        a(href='http://en.wikipedia.org/wiki/IBM_System_i') IBM iSeries

      h3 Lead developer (on-site)
      p New implementation of an existing point-of-sale web app and rules engine
      p Presentation and leadership of requirement definition workshops
      p Functional specification and design - point-of-sale and credit automation
      p Technical speicifcation, design and development
      p Construction of development environments
      p Functional and technical training of colleagues
      .skills
        a(href='http://en.wikipedia.org/wiki/Java_(programming_language)') Java
        | , 
        a(href='http://en.wikipedia.org/wiki/Delphi_language') Delphi
        | , 
        a(href='http://en.wikipedia.org/wiki/Css') CSS
        | , 
        a(href='http://www.oracle.com/us/products/middleware/cloud-app-foundation/weblogic/overview/index.html') WebLogic
        | , 
        a(href='http://en.wikipedia.org/wiki/Unix_shell') Unix shell
        | , 
        a(href='http://www-03.ibm.com/software/products/en/ibm-mq') MQ

      h3 UAT manager (on-site)

      h3 Back-end developer
      p Technical design and development
      p Work for clients such as Toyota Financial Services, Mercedes Benz Financial Services and Barclays Financial Services
      .skills
        a(href='http://www.oracle.com/technetwork/java/javaee/overview/index.html') JavaEE
        | , 
        a(href='http://groovy.codehaus.org/') Groovy
        | , 
        a(href='http://code.google.com/p/guava-libraries/') Guava
        | , 
        a(href='https://github.com/google/guice') Guice
        | , 
        a(href='http://www.seleniumhq.org/') Selenium
        | , 
        a(href='http://junit.org/') jUnit
        | , 
        a(href='http://en.wikipedia.org/wiki/Test-driven_development') TDD
        | , 
        a(href='http://agilemethodology.org/') Agile development
        | , 
        a(href='http://hibernate.org/') Hibernate
        | , 
        a(href='http://subversion.apache.org/') Subversion

      h3 Front-end developer - responsive point-of-sale web app
      p Enhancement of the in-house Groovy view-layer framework, used by 80+ developers, to support an arbitrary number of componentised applications
      p Enhancement of the framework to support asynchronous partial rendering (ajax)
      p Ground-up design and implementation of BEM / OOCSS LESS architecture
      p Implementation of a new flat UI
      p Mobile and responsive design
      p Cross-browser compatability
      p Support and enhancement of the end-to-end integration test suite
      .skills
        a(href='http://lesscss.org/') LESS
        | , 
        a(href='http://jquery.com/') jQuery
        | , 
        a(href='http://gulpjs.com/') Gulp
        | , 
        a(href='http://gruntjs.com/') Grunt
        | , 
        a(href='http://phantomjs.org/') PhantomJs
        | , 
        a(href='http://lodash.com/') Lodash
        | , 
        a(href='http://bem.info/') BEM
        | , 
        a(href='http://oocss.org/') OOCSS
        | , 
        a(href='http://en.wikipedia.org/wiki/Responsive_web_design') RWD
        | , 
        a(href='http://jasmine.github.io/') Jasmine
        | , 
        a(href='https://github.com/Huddle/PhantomCSS') PhantomCss
        | , 
        a(href='http://en.wikipedia.org/wiki/Behavior-driven_development') BDD
        | , 
        a(href='http://en.wikipedia.org/wiki/Cross-browser') IE8+

      h3 Hybrid app developer - mobile research and development
      p Prototyping of a cross-platform hybrid javascript application
      p Use of UI frameworks to enable rapid iteration and delivery
      p Development of RESTful services over an existing back-end

    footer.chp
      .circle
      .date 14
      .line
      .skills
        a(href='http://facebook.github.io/react/') React
        | , 
        a(href='http://facebook.github.io/flux/docs/overview.html') Flux architecture
        | , 
        a(href='http://cordova.apache.org/') Cordova
        | , 
        a(href='http://ionicframework.com/') Ionic
        | , 
        a(href='http://ramda.github.io/ramdocs/docs/') Ramda
        | , 
        a(href='http://foundation.zurb.com/') Foundation
    
    header.home
      .circle 
      .line
      h2 At home

    section.home
      h3 Static site developer and designer
      p
        | Personal site - 
        a(href='http://littlemoon.io') littlemoon.io
      p
        | Music site - 
        a(href='http://bertiewright.co.uk') bertiewright.co.uk
      p
        | Personal resume - 
        a(href='http://fredwright.me') fredwright.me
      .skills
        a(href='http://sass-lang.com/') SASS
        | , 
        a(href='http://learnboost.github.io/stylus/') Stylus
        | , 
        a(href='http://git-scm.com/') Git
        | , 
        a(href='http://jade-lang.com/') Jade
        | , 
        a(href='http://jekyllrb.com/') Jekyll
        | , 
        a(href='http://www.heroku.com/') Heroku
        | , 
        a(href='http://smacss.com/') SMACSS
        | , 
        a(href='http://www.html5rocks.com/en/mobile/responsivedesign/') Mobile-first design

      h3 Javascript web app developer
      p
        | Bank statement reporting tool - 
        a(href='http://github.com/fredwright/payments') github.com/fredwright/payments
      p
        | Angular, Koa, MongoDB seed application - 
        a(href='http://github.com/fredwright/angular-koa-mongo-seed') github.com/fredwright/angular-koa-mongo-seed
      p
        | UI for adding simple JSON objects to MongoDB - 
        a(href='http://github.com/fredwright/mongo-data-builder') github.com/fredwright/mongo-data-builder
      p
        | React social network demo - 
        a(href='https://github.com/fredwright/nestpad') github.com/fredwright/nestpad

    footer.home
      .circle
      .line
      .skills
        a(href='http://facebook.github.io/react/') React
        | , 
        a(href='http://angularjs.org/') Angular
        | , 
        a(href='http://nodejs.org/') Node
        | , 
        a(href='http://koajs.com/') Koa
        | , 
        a(href='http://expressjs.com/') Express
        | , 
        a(href='http://www.mongodb.org/') MongoDB
        | , 
        a(href='http://sailsjs.org/') Sails
        | , 
        a(href='http://backbonejs.org/') Backbone
        | , 
        a(href='http://getbootstrap.com/') Bootstrap