doctype html
html(lang="en")

	head
		title= FredWright
		link(rel='stylesheet', href='/dist/css/main.css')

	body
		
		header.title
			.circle
			.date 1990
			h1 Fred Wright

		header.uni
			.circle
			.date 08
			.line
			h2 Bristol University, 2:1 Bsc Mathematics and Philosophy (Joint Honours)

		section.uni
			h3 Specialisation in Quantum Mechanics and Set Theory

		footer.uni
			.circle
			.date 11
			.line
			.skills
				a(href='http://en.wikipedia.org/wiki/Mathematical_analysis') Mathematical analysis
				| , 
				a(href='http://en.wikipedia.org/wiki/Logic') Logic

		header.saab
			.circle 
			.date 11
			.line
			h2 SAAB AB, Capability Development Analyst

		section.saab
			h3 Data analyst - responsible for prototyping new products
			p Analysis of big data
			p Presention of both live and prepared analysis to clients
			p Data collection and collection strategy
			p Functional design of a mobile data analysis platform

		footer.saab
			.circle
			.date 12
			.line
			.skills
				a(href='http://en.wikipedia.org/wiki/SQL') SQL
				| , 
				a(href='http://www.tableausoftware.com/products/desktop') Tableau

		header.chp
			.circle 
			.date 12
			.line
			h2 CHP Consulting, Technology Consultant

		section.chp
			h3 Support contact and DBA - Siemens Financial Services (on-site)
			p Organisation and collaboration with the client to perform simultaneous releases in the UK, Scandinavia and India
			p Enhancement of the DBA process and tooling
			p Management and execution of support requests
			.skills
				a(href='http://en.wikipedia.org/wiki/IBM_System_i') IBM iSeries

			h3 Lead developer - Hitachi Business Finance (on-site)
			p New implementation of an existing point-of-sale web app and rules engine
			p Presentation and leadership of requirement definition workshops
			p Functional specification and design - point-of-sale and credit automation
			p Technical speicifcation, design and development
			p Construction of development environments
			p Functional and technical training of colleagues
			.skills
				a(href='') Java
				| , 
				a(href='') Delphi
				| , 
				a(href='') CSS
				| , 
				a(href='') WebLogic
				| , 
				a(href='') Unix shell
				| , 
				a(href='') MQ

			h3 UAT manager - Hitachi Business Finance (on-site)

			h3 Support contact - point-of-sale web app - Société Générale Finance

			h3 Back-end developer - ALFA v5 Asset Finance web platform 
			p Technical design and development
			p Work for clients such as Toyota Financial Services, Mercedes Benz Financial Services and Barclays Financial Services
			.skills
				a(href='') JavaEE
				| , 
				a(href='') Groovy
				| , 
				a(href='') Guava
				| , 
				a(href='') Guice
				| , 
				a(href='') Selenium
				| , 
				a(href='') jUnit
				| , 
				a(href='') TDD
				| , 
				a(href='') Agile development
				| , 
				a(href='') Hibernate
				| , 
				a(href='') Subversion

			h3 Front-end developer - responsive point-of-sale web app - Nordea Finance
			p Enhancement of the in-house Groovy view-layer framework, used by 70+ developers, to support an arbitrary number of componentised applications
			p Enhancement of the framework to support asynchronous partial rendering (ajax)
			p Ground-up design and implementation of BEM / OOCSS LESS architecture
			p Implementation of a new flat UI
			p Mobile and responsive design
			p Cross broswer compatability
			p Support and enhancement of the end-to-end integration test suite

		footer.chp
			.circle
			.date 14
			.line
			.skills
				a(href='') LESS
				| , 
				a(href='') jQuery
				| , 
				a(href='') Gulp
				| , 
				a(href='') Grunt
				| , 
				a(href='') PhantomJs
				| , 
				a(href='') Lodash
				| , 
				a(href='') BEM
				| , 
				a(href='') OOCSS
				| , 
				a(href='') RWD
				| , 
				a(href='') Jasmine
				| , 
				a(href='') PhantomCss
				| , 
				a(href='') BDD
				| , 
				a(href='') IE8+
		
		header.home
			.circle 
			.line
			h2 At home

		section.home
			h3 Static site developer and designer
			p
				| Personal site - 
				a(href='http://littlemoon.io') littlemoon.io
			p
				| Music site - 
				a(href='http://bertiewright.co.uk') bertiewright.co.uk
			p
				| Personal résumé - 
				a(href='http://fredwright.me') fredwright.me
			.skills
				a(href='') SASS
				| , 
				a(href='') Stylus
				| , 
				a(href='') Git
				| , 
				a(href='') Jade
				| , 
				a(href='') Jekyll
				| , 
				a(href='') Heroku
				| , 
				a(href='') SMACSS
				| , 
				a(href='') Mobile-first design

			h3 Javascript web app developer
			p
				| Bank statement analysis app (in progress) - 
				a(href='http://github.com/fredwright/payments') github.com/fredwright/payments

		footer.home
			.circle
			.line
			.skills
				a(href='') Angular
				| , 
				a(href='') Node
				| , 
				a(href='') Koa
				| , 
				a(href='') Express
				| , 
				a(href='') MongoDB
				| , 
				a(href='') Sails
				| , 
				a(href='') Backbone
				| , 
				a(href='') Bootstrap