doctype html
html(lang="en")

	head
		title= FredWright
		link(rel='stylesheet', href='/css/main.css')

	body
		
		header.title
			.circle
			.date 1990
			h1 Fred Wright

		header.uni
			.circle
			.date 08
			.line
			h2 Bristol University, 2:1 Bsc Mathematics and Philosophy (Joint Honours)

		section.uni
			h3 Specialisation in Quantum Mechanics and Set Theory

		footer.uni
			.circle
			.date 11
			.line
			.skills Mathematical analysis, Logic

		header.saab
			.circle 
			.date 11
			.line
			h2 SAAB AB, Capability Development Analyst

		section.saab
			h3 Data analyst - responsible for prototyping new products
			p Analysis of big data
			p Presention of both live and prepared analysis to clients
			p Data collection and collection strategy regarding new products
			p Functional design of a mobile data analysis platform

		footer.saab
			.circle
			.date 12
			.line
			.skills SQL, Tableau

		header.chp
			.circle 
			.date 12
			.line
			h2 CHP Consulting, Technology Consultant

		section.chp
			h3 Support contact and DBA - Siemens Financial Services (on-site)
			p Organisation and collaboration with the client to perform simultaneous releases in the UK, Scandinavia and India
			p Enhancement of the DBA process and tooling
			p Management and execution of support requests
			.skills IBM iSeries

			h3 Lead developer - Hitachi Business Finance (on-site)
			p New implementation of an existing point-of-sale web app and rules engine
			p Presentation and leadership of functional workshops
			p Functional design - point-of-sale and credit automation
			p Technical design and development
			p Construction of development environments
			.skills Java, Delphi, CSS, Oracle WebLogic, Unix, MQ

			h3 UAT manager - Hitachi Business Finance (on-site)

			h3 Support contact - point-of-sale web app - Société Générale Finance

			h3 Back-end developer - ALFA v5 Asset Finance web platform 
			p Technical design and development
			p Work for clients such as Toyota Financial Services, Mercedes Benz Financial Services and Barclays Financial Services
			.skills JavaEE, Guava, Hibernate, Groovy, SVN, jUnit, Guice, Selenium

			h3 Front-end developer - responsive point-of-sale web app - Nordea Finance
			p Enhancement of the in-house Groovy view-layer framework to support an arbitrary number of componentised applications
			p Enhancement of the framework to support asynchronous partial rendering (ajax)
			p Ground-up design and implementation of BEM/OOCSS LESS architecture
			p Implementation of a new flat UI
			p Mobile and responsive design
			p Cross broswer compatability

		footer.chp
			.circle
			.date 14
			.line
			.skills LESS, BEM conventions, OOCSS, Groovy, jQuery, Gulp, Grunt, Lodash, Jasmine, IE8+
		
		header.home
			.circle 
			.line
			h2 At home

		section.home
			h3 Static site developer
			p Personal site - littlemoon.io
			p Music site - bertiewright.co.uk
			.skills SASS, Stylus, Jade, Gulp, Git, Jekyll, Heroku

			h3 Web app developer
			p Bank statement analysis app (in progress) - github.com/fredwright/payments

		footer.home
			.circle
			.line
			.skills Angular, Node, Koa, Express, MongoDB, Sails, Backbone, Bootstrap

